@import "matchList";
@import "scoreboard";

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 2px;
  row-gap: 2px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.search-form {
  grid-area: 1 / 4 / span 2 / span 1;
}

.summoner-overall {
  display: grid;
  overflow: hidden;
  grid-area: 3 / 1 / span 8 / span 4;
  column-gap: 2px;
  row-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.summoner-general {
  grid-area: 1 / 1 / span 2 / span 1;
}

.match-list {
  grid-area: 3 / 1 / span 8 / span 1;
  margin: 0;
  overflow: hidden;
  ul {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
  }
  .show-more {
    height: 5%;
    margin: 0;
  }
  @include match-list;
}

.match-detail {
  grid-area: 1 / 2 / span 10 / span 3;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 2px;
}

.match-graphs {
  grid-area: 1 / 1 / span 5 / span 1;
}

.scoreboard {
  grid-area: 6 / 1 / span 5 / span 1;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  @include scoreboard;
}

.scoreboard-title {
  .scoreboard-title-items {
    display: flex;
    @include scoreboard-title;
  }
  .scoreboard-title-team-stat {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    @include scoreboard-team-stat;
  }
}

.indivdual {
  grid-row: span 2;
  display: flex;
  align-items: center;
  .individual-info-and-items {
    display: grid;
    height: $item-sprite-size + 10px;
    grid-template-columns: $scoreboard-individual-info-width repeat(7, $item-sprite-size);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2px;
    row-gap: 1px;
    align-items: center;
    .individual-name {
      grid-area: 1 / 1 / span 1 / span 1;
    }
    .individual-kda {
      grid-area: 2 / 1 / span 1 / span 1;
    }
    .item-sprite {
      grid-row: span 2;
    }
  }
  .scoreboard-perk-runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include indivdual;
}

@mixin scoreboard-grid-area {
  @for $i from 1 through 5 {
    .summoner-team-#{$i} {
      grid-column-start: 1;
      grid-column-end: span 1;
      grid-row-start: $i + 1;
      grid-row-end: span 1;
    }
    .other-team-#{$i} {
      grid-column-start: 2;
      grid-column-end: span 1;
      grid-row-start: $i + 1;
      grid-row-end: span 1;
    }
  }
}

@include scoreboard-grid-area;

.summonerTeam {
  grid-column: 1;
}

.summoner-general,
.match-list,
.match-graphs,
.scoreboard-title-blue,
.scoreboard-title-red{
  background-color: purple;
  color: white;
}