@import "matchList";
@import "scoreboard";
@import "matchGraphs";
@import "utilities";
@import "header";

$app-base-row-height: 75px;
$app-scoreboard-1024-height: 85px;

$scoreboard-1388-height: 65px;

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: $component-height + $label-height + 2px repeat(9, 75px);
  column-gap: 2px;
  row-gap: 10px;
  overflow-x: hidden;
}

.header {
  grid-area: 1 / 1 / span 1 / span 4;
}

.search-form {
  position: absolute;
  right: 1px;
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  grid-template-rows: 12px 1fr;
  fieldset {
    grid-area: 1 / 1 / span 2 / span 1;
  }
  input {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  button {
    grid-area: 2 / 3 / span 1 / span 1;
  }
  label[for="player-name"] {
    grid-area: 1 / 2 / span 1 / span 1;
  }
}

.summoner-overall {
  display: grid;
  overflow: hidden;
  grid-area: 2 / 1 / span 9 / span 4;
  column-gap: 10px;
  row-gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.summoner-general {
  grid-area: 1 / 1 / span 2 / span 1;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  @include white-background-with-shadow;
  .name-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #summoner-name {
      font-size: 0.8rem;
      font-weight: bold;
    }
    #level {
      font-size: 0.7rem;
      font-weight: lighter;
    }
    #tier-rank {
      font-weight: bold;
    }
  }
  .rank-logo {
    margin: auto;
  }
  .rank-24-UNRANKED {
    background: url('../data/Emblem_Unranked.png');
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
  }
}

.match-list {
  grid-area: 3 / 1 / span 8 / span 1;
  margin: 0;
  overflow: hidden;
  ul {
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
  }
  .show-more {
    height: 5%;
    margin: 0;
  }
  @include match-list;
  @include white-background-with-shadow;
}

.match-detail {
  grid-area: 1 / 2 / span 10 / span 3;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
  row-gap: 10px;
}

.match-graphs {
  grid-area: 1 / 1 / span 5 / span 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  .graph-control-panel {
    grid-area: 1 / 1 / span 1 / span 1;
    .graph-control-panel-fixed,
    .graph-control-panel-togglable {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(9, 35px);
      grid-template-columns: 1fr;
      .graph-control-panel-item {
        display: flex;
      }
      button.graph-control-panel-item {
        justify-content: center;
        align-items: center;
      }
      h3.graph-control-panel-item {
        justify-content: start;
        align-items: center;
      }
      @include graph-control-panel;
    }
    .graph-control-panel-togglable {
      display: none;
    }
  }
  .barchart {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    .barchart-label {
      display: grid;
      grid-template-columns: 18px;
      grid-template-rows: 66px repeat(10, 22px);
      @for $i from 1 through 10 {
        .champion-label-#{$i} {
          grid-row-start: $i+1;
          grid-row-end: span 1;
        }
      }
    }
  }
  @include matchGraphs;
}

.scoreboard {
  grid-area: 6 / 1 / span 5 / span 1;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45px repeat(5, 65px);
  @include white-background-with-shadow;
}

$sb-champion-width: 45px;
$sb-summoner-width: 24.4px;
$sb-perk-width: 32px;
$sb-name-width: 135px;
$sb-item-width: 28.79px;
$sb-cs-width: 70px;

.scoreboard-title {
  border-bottom: 2px solid $scoreboard-border-color;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 
    $sb-champion-width+$sb-summoner-width+$sb-perk-width $sb-name-width $sb-item-width*7 + 6px $sb-cs-width;
  .tower-icon {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  .dragon-icon {
    grid-area: 1 / 2 / span 1 / span 1;
  }
  .baron-icon {
    grid-area: 1 / 3 / span 1 / span 1;
  }
  .scoreboard-title-champion {
    grid-area: 2 / 1 / span 1 / span 1;
  }
  .scoreboard-title-kda {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  .scoreboard-title-item {
    grid-area: 2 / 3 / span 1 / span 1;
  }
  .scoreboard-title-cs {
    grid-area: 2 / 4 / span 1 / span 1;
  }
  @include scoreboard-team-stat;
  @include scoreboard-title;
}

.individual {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 45px 24.4px 32px 135px repeat(7, 28.79px) 70px;
  .champion-sprite-container {
    grid-area: 1 / 1 / span 3 / span 1;
    @include flexbox-centering();
  }
  .scoreboard-summoner-spells {
    grid-area: 1 / 2 / span 3 / span 1;
    @include flexbox-centering(column);
  }
  .scoreboard-perk-runes {
    grid-area: 1 / 3 / span 3 / span 1;
    @include flexbox-centering(column);
  }
  .individual-name {
    grid-area: 1 / 4 / span 2 / span 1;
    @include flexbox-centering();
  }
  .individual-kda {
    grid-area: 2 / 4 / span 2 / span 1;
    @include flexbox-centering();
  }
  @for $i from 0 through 6 {
    .item-index-#{$i} {
      grid-column-start: $i+5;
      grid-column-end: span 1;
      grid-row-start: 1;
      grid-row-end: span 3;
      @include flexbox-centering();
    }
  }
  .scoreboard-individual-cs {
    grid-area: 1 / 12 / span 3 / span 1;
    @include flexbox-centering();
  }
  column-gap: 1px;
  @include individual;
}

@mixin scoreboard-grid-area {
  @for $i from 1 through 5 {
    .summoner-team-#{$i} {
      grid-column-start: 1;
      grid-column-end: span 1;
      grid-row-start: $i + 1;
      grid-row-end: span 1;
    }
    .other-team-#{$i} {
      grid-column-start: 2;
      grid-column-end: span 1;
      grid-row-start: $i + 1;
      grid-row-end: span 1;
    }
  }
}

@include scoreboard-grid-area;

.summonerTeam {
  grid-column: 1;
}

.scoreboard-title-blue,
.scoreboard-title-red{
  background-color: purple;
  color: white;
}