$border-color: #E9EAE9;
$border-size: 1px;
$font-color: black;
$win-bg-color: #7DF17D;
$lose-bg-color: #F78578;
$match-list-icon-size: 20px;

$panta-bg-color:#F2402C;
$quadra-bg-color: #E194F5;
$triple-bg-color: #F6BFB4;

@mixin result-tag {
  border-radius: 5px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: italic;
  width: 70%;
  margin: auto;
}

@mixin match-list-icon {
  width: $match-list-icon-size;
  height: $match-list-icon-size;
  background-size: $match-list-icon-size $match-list-icon-size;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
}

@mixin multiple-kill-icon {
  border-radius: $match-list-icon-size / 2;
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
}

@mixin match-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      background-color: white;
      color: $font-color;
      border: $border-size $border-color solid;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 90px;
      .match-list-item-result {
        flex-basis: 35%;
        font-size: 1.1rem;
        text-align: center;
        .match-list-item-icons {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          margin-top: 5px;
          .most-kill {
            background: url('../data/mostKills.svg');
            @include match-list-icon;
          }
          .most-gold {
            background: url('../data/mostGoldEarned.svg');
            @include match-list-icon;
          }
          .most-damage-dealt {
            background: url('../data/mostDamage.svg');
            @include match-list-icon;
          }
          .most-damage-taken {
            background: url('../data/mostDamageTaken.svg');
            @include match-list-icon;
          }
          .triple {
            background-color: $triple-bg-color;
            @include match-list-icon;
            @include multiple-kill-icon;
          }
          .quadra {
            background-color: $quadra-bg-color;
            @include match-list-icon;
            @include multiple-kill-icon;
          }
          .panta {
            background-color: $panta-bg-color;
            @include match-list-icon;
            @include multiple-kill-icon;
          }
        }
      }
      .match-list-item-meta {
        flex-basis: 35%;
        font-size: 0.7rem;
        .win {
          background-color: $win-bg-color;
          @include result-tag;
        }
        .lose {
          background-color: $lose-bg-color;
          @include result-tag;
        }
        .meta-info {
          text-align: center;
          line-height: 1.5;
        }
      }
    }
  }
  .show-more {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .show-more:hover {
    background-color: $button-hover-bg-color;
    font-weight: bold;
    cursor: pointer;
  }
}