@import "scoreboard";
@import "utilities";

@media (max-width: 1388px) and (min-width: 1024px) {
  $sb-kda-width: 70px;
  
  .app {
    grid-template-rows: 54px repeat(4, 75px) repeat(5, 85px);
  }

  .scoreboard-title {
    border-bottom: 2px solid $scoreboard-border-color;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 
      $sb-champion-width+$sb-summoner-width+$sb-perk-width $sb-kda-width $sb-item-width*4 + 6px $sb-cs-width;
    .scoreboard-title-baron {
      grid-area: 1 / 3 / span 1 / span 2;
      margin: unset;
    }
  }

  .individual {
    grid-template-columns: 45px 24.4px 32px 70px repeat(4, 28.79px) 70px;
    .champion-sprite-container {
      grid-area: 2 / 1 / span 2 / span 1;
    }
    .scoreboard-summoner-spells {
      grid-area: 2 / 2 / span 2 / span 1;
    }
    .scoreboard-perk-runes {
      grid-area: 2 / 3 / span 2 / span 1;
    }
    .individual-name {
      grid-area: 1 / 5 / span 1 / span 4;
      align-items: flex-end;
      padding-bottom: 3px;
    }
    @for $i from 0 through 3 {
      .item-index-#{$i} {
        grid-column-start: $i+5;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
      }
    }
    @for $i from 0 through 2 {
      .item-index-#{$i+4} {
        grid-column-start: $i+5;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 1;
      }
    }
    .scoreboard-individual-cs {
      grid-area: 2 / 9 / span 2 / span 1;
    }
  }
  
  .match-graphs {
    grid-area: 1 / 1 / span 4 / span 1;
  }

  .scoreboard {
    grid-area: 5 / 1 / span 6 / span 1;
    grid-template-rows: 45px repeat(5, 85px);
  }  
}


@media (max-width: 1023px) and (min-width: 768px) {
  .app {
    grid-template-rows: 54px repeat(14, 75px);
  }

  .summoner-overall {
    grid-area: 2 / 1 / span 14 / span 4;
    grid-template-rows: repeat(15, 1fr);
  }

  .match-detail {
    grid-area: 1 / 2 / span 15 / span 3;
    grid-template-rows: repeat(15, 1fr);
  }

  .scoreboard {
    grid-area: 6 / 1 / span 10 / span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 45px repeat(5, 65px) 45px repeat(5, 65px);
  }

  @for $i from 1 through 5 {
    .summoner-team-#{$i} {
      grid-column-start: 1;
      grid-column-end: span 1;
      grid-row-start: $i + 1;
      grid-row-end: span 1;
    }
    .other-team-#{$i} {
      grid-column-start: 1;
      grid-column-end: span 1;
      grid-row-start: $i + 7;
      grid-row-end: span 1;
    }
  }

  @mixin match-list-icon-768 {
    width: $match-list-icon-size * 0.75;
    height: $match-list-icon-size * 0.75;
    background-size: $match-list-icon-size * 0.75 $match-list-icon-size * 0.75;
  }

  .match-list {
    ul {
      li {
        .match-list-item-result {
          font-size: 0.9rem;
          .match-list-item-icons {
            .most-kill {
              @include match-list-icon-768;
            }
            .most-gold {
              @include match-list-icon-768;
            }
            .most-damage-dealt {
              @include match-list-icon-768;
            }
            .most-damage-taken {
              @include match-list-icon-768;
            }
          }
        }
        .match-list-item-meta {
          flex-basis: 35%;
          font-size: 0.6rem;
          .meta-info {
            text-align: center;
            line-height: 1.5;
          }
        }
      }
    }
  }
}