$champion-spritesheet-size: 42px;
$scoreboard-border-color: #ebeaea;
$item-sprite-size: 28.8px;
$item-sprite-empty-color: #E4E3E3;

$summoner-spell-sprite-size: 25px;
$summoner-perk-sprite-size: 32px;

$scoreboard-individual-info-width: 135px;
$cs-width: 70px;
$scoreboard-individual-kda-width: 70px;

$scoreboard-font-size: 0.8rem;

$scoreboard-icon-size: 15px;

@import "utilities";

@mixin individual-leftmost-padding {
  padding-left: 10px;
  padding-right: 5px;
}

@mixin individual {
  .champion-sprite-container .champion.sprite {
    border-radius: $champion-spritesheet-size / 2;
  }
  .scoreboard-summoner-spells {
    div {
      margin: 1px;
    }
  }
  .individual-name {
    font-size: $scoreboard-font-size - 0.1rem;
  }
  .individual-kda {
    font-size: $scoreboard-font-size + 0.1rem;
  }
  .empty-item {
    background-color: $item-sprite-empty-color;
    width: $item-sprite-size;
    height: $item-sprite-size;
  }
  .item-sprite {
    border-radius: 3px;
  }
  .scoreboard-individual-cs {
    font-size: $scoreboard-font-size;
  }
  margin: auto;
  // @include individual-leftmost-padding;
}

@mixin scoreboard-title {
  font-size: 0.7rem;
  .scoreboard-title-champion {
    text-align: center;
  }
  .scoreboard-title-kda {
    text-align: center;
  }
  .scoreboard-title-item {
    text-align: center;
  }
  .scoreboard-title-cs {
    text-align: center;
  }
  margin: auto;
  // @include individual-leftmost-padding;
}

@mixin scoreboard-icon {
  height: $scoreboard-icon-size;
  background-size: $scoreboard-icon-size $scoreboard-icon-size;
  background-repeat: no-repeat;
  padding-left: $scoreboard-icon-size;
  margin: auto;
}

@mixin scoreboard-team-stat {
  font-size: 0.7rem;
  .tower-icon {
    background: url('../data/tower.svg');
    @include scoreboard-icon;
  }
  .dragon-icon {
    background: url('../data/dragon.svg');
    @include scoreboard-icon;
  }
  .baron-icon {
    background: url('../data/baron.svg');
    @include scoreboard-icon;
  }
  @include individual-leftmost-padding;
}