@mixin white-background-with-shadow {
  background-color: white;
  box-shadow: 7px 7px 5px -1px rgba(94,89,89,0.38);
}

@mixin flexbox-centering($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}