@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #E7F2E5;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[10];
  grid-template-rows: repeat(10, 1fr);
  -webkit-column-gap: 2px;
  column-gap: 2px;
  row-gap: 2px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.search-form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / span 2 / span 1;
}

.summoner-overall {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3 / 1 / span 8 / span 4;
  -webkit-column-gap: 2px;
  column-gap: 2px;
  row-gap: 2px;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[10];
  grid-template-rows: repeat(10, 1fr);
}

.summoner-general {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / span 2 / span 1;
}

.match-list {
  -ms-grid-row: 3;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / span 8 / span 1;
  margin: 0;
  overflow: hidden;
}

.match-list ul {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

.match-list .show-more {
  height: 5%;
  margin: 0;
}

.match-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.match-list ul li {
  background-color: white;
  color: black;
  border: 1px #E9EAE9 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
}

.match-list ul li .match-list-item-result {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  font-size: 1.3rem;
  text-align: center;
}

.match-list ul li .match-list-item-result .match-list-item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px;
}

.match-list ul li .match-list-item-result .match-list-item-icons .most-kill {
  background: url("../data/mostKills.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
}

.match-list ul li .match-list-item-result .match-list-item-icons .most-gold {
  background: url("../data/mostGoldEarned.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
}

.match-list ul li .match-list-item-result .match-list-item-icons .most-damage-dealt {
  background: url("../data/mostDamage.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
}

.match-list ul li .match-list-item-result .match-list-item-icons .most-damage-taken {
  background: url("../data/mostDamageTaken.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
}

.match-list ul li .match-list-item-result .match-list-item-icons .triple {
  background-color: #F6BFB4;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
}

.match-list ul li .match-list-item-result .match-list-item-icons .quadra {
  background-color: #E194F5;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
}

.match-list ul li .match-list-item-result .match-list-item-icons .panta {
  background-color: #F2402C;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 4px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 0.9rem;
}

.match-list ul li .match-list-item-meta {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  font-size: 0.7rem;
}

.match-list ul li .match-list-item-meta .win {
  background-color: #7DF17D;
  border-radius: 5px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: italic;
  width: 70%;
  margin: auto;
}

.match-list ul li .match-list-item-meta .lose {
  background-color: #F78578;
  border-radius: 5px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  font-style: italic;
  width: 70%;
  margin: auto;
}

.match-list ul li .match-list-item-meta .meta-info {
  text-align: center;
  line-height: 1.5;
}

.match-detail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 / span 10 / span 3;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[10];
  grid-template-rows: repeat(10, 1fr);
  row-gap: 2px;
}

.match-graphs {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / span 3 / span 1;
}

.scoreboard {
  -ms-grid-row: 4;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / span 7 / span 1;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[11];
  grid-template-rows: repeat(11, 1fr);
  row-gap: 2px;
  -webkit-column-gap: 2px;
  column-gap: 2px;
}

.indivdual {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.summoner-general,
.match-list,
.match-graphs,
.indivdual,
.scoreboard-title-blue,
.scoreboard-title-red {
  background-color: purple;
  color: white;
}
